################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/CesiEats/FileContentIndex/2cbb972b-a9c3-4d3b-816f-23eeb28bf193.vsidx
/.vs/CesiEats/FileContentIndex/41217eeb-d788-44d1-909c-9275af48bbcc.vsidx
/.vs/CesiEats/FileContentIndex/54122195-c172-427c-b0de-6c0c35121a6a.vsidx
/.vs/CesiEats/FileContentIndex/57d23164-efdc-4ca7-ad09-53b1f878133a.vsidx
/.vs/CesiEats/FileContentIndex/86190275-1c1e-46a4-9976-8c9f618ff14f.vsidx
/.vs/CesiEats/FileContentIndex/b4ffd2ad-9db3-4bc9-82af-63246a5b90d4.vsidx
/.vs/CesiEats/FileContentIndex/1a06305e-310d-4bab-a3f6-9ee3dc3323d3.vsidx
/.vs/CesiEats/FileContentIndex/28d06800-fd6a-44ac-8b62-af27f66f872a.vsidx
/.vs/CesiEats/FileContentIndex
