.historique-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
  }
  
  .historique-item-food,
  .historique-item-name {
    font-weight: 600;
  }
  
  .historique-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  .historique-item-address {
    margin-bottom: 10px;
  }
  
  .historique-item select {
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
  }
  
  @media(max-width: 1000px) {
    .historique-item {
      font-size: 12px;
      grid-template-columns: 0.5fr 2fr 1fr;
      padding: 15px 8px;
    }
    .historique-item select {
      padding: 5px;
      font-size: 12px;
    }
    .historique-item img {
      width: 40px;
    }
  }
  
  .order-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .order-item img {
    width: 50px;
    height: 50px;
  }
  
  .order-item-food,
  .order-item-name,
  .order-item-address,
  .order-item-phone {
    margin: 5px 0;
  }
  
  .order-item-address {
    margin-bottom: 10px;
  }
  
  .order-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .custom-btn {
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accept-btn {
    color: black;
  }
  
  .reject-btn {
    color: black;
  }
  
  .custom-btn:hover {
    background-color: #ffd6cc;
  }
  
  .order-actions .custom-btn {
    margin-right: 10px; /* Agregar margen entre los botones */
  }
  
  @media(max-width: 1000px) {
    .order-item {
      font-size: 12px;
      padding: 15px 8px;
    }
    .order-item img {
      width: 40px;
    }
    .custom-btn {
      padding: 5px;
      font-size: 12px;
    }
    .order-actions .custom-btn {
      margin-right: 5px; /* Ajustar el margen para pantallas pequeñas */
    }
  }
  .chart-container {
    display: flex;
    flex-direction: row; /* Alinear los gráficos en fila */
    gap: 20px; /* Espacio entre los gráficos */
  }
  .chart {
    width: 60%; /* Ancho de cada gráfico */
  }

  .bottom-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .bottom-control {
    width: 100%; /* Ancho para los controles de selección */
  }
  
  .date-controls {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .date-controls label,
  .date-controls input {
    margin-right: 10px;
  }
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .chart {
    width: calc(50% - 10px); /* Ajuste del ancho del gráfico */
  }
  
